
#map {
  width: 100vw;
  height: 76vh;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.Icon {
  height: 2vh;
  width: 2vw;
}
.App-header {
  background-color: #222;
  height: 9vh;
  padding-top: 10px;
  text-align: center;
  color: white;
}

.App-intro {
  font-size: large;
}
.Location-Title{
  width: 150px;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

.Filter-Buttons{
  text-align: center;
  height: auto;
  padding: .5vh;
  background-color: #222;
  color: white;
}

.Signout-Link{
  position: absolute;
  right: .75vw;
  bottom:94vh;
  color: white;
  font-size: 1em;
}

.Signup-Link{
  position: absolute;
  right: .75vw;
  bottom:94vh;
  color: white;
  font-size: 1em;
}

.Signin-Link{
  position: absolute;
  right: .75vw;
  bottom:90vh;
  color: white;
  font-size: 1em;
}

button{
  border: 0px;
  background-color: #222;
  font-size: 1em;
  outline: none;
}
.unClicked{
  color: green;
}
.clicked{
  color: red;
}
.addButton{
  color: white;
}
.close{
  border: 0px;
  background-color: white;
  opacity: 100%;
  font-weight: bold;
  font-size: 1.5em;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
