
#map {
  width: 100vw;
  height: 68vh;
}

.Icon {
  height: 2vh;
  width: 2vw;
}
.notTheMap {
  position:static;
  height: 25vh;
  background-color: #222;
}
.App-header {
  background-color: #222;
  height: 7vh;
  padding-top: 1vh;
  text-align: center;
  color: white;
}

.Location-Title{
  width: 10vw;
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
}

.Filter-Buttons{

  text-align: center;
  padding: .01vh;
  background-color: #222;
  color: white;
}

.Signout-Link{
  position: absolute;
  right: .75vw;
  bottom:94vh;
  color: white;
  font-size: 2vh;
}

.Signup-Link{
  position: absolute;
  right: .75vw;
  bottom:94vh;
  color: white;
  font-size: 2vh;
}

.Signin-Link{
  position: absolute;
  right: .75vw;
  bottom:92vh;
  color: white;
  font-size: 2vh;
}

button{
  border: 0px;
  background-color: #222;
  font-size: 2vh;
  outline: none;
}
.unClicked{
  color: green;
}
.clicked{
  color: red;
}
.addButton{
  color: white;
}
.close{
  border: 0px;
  background-color: white;
  opacity: 100%;
  font-weight: bold;
  font-size: 2vh;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
